@page "/"

<PageTitle>Barbershop</PageTitle>

<div class="bg-image"
     style="
    background-image: url('/images/barber33.jpg');
    height: 400px;
  "><div>
        <p class=" text-center mb-md-5  display-4 text-white">
          Välkommen till M-star Barbershop
      </p><br />
      <img  src="/images/m-star-removebg-preview.png" class="rounded mx-auto d-block" alt=""/>
      <p class="text-center h3 text-white">DIN STILIGA, SKICKLIGA & ERFARNA BARBERARE</p>
  </div>
  <div>
      <p class="text-center h1 mb-5 text-white">Galleri</p>
      <div class="container">
          <div class="row">
              <div class="col-4 ">
                  <img src="/images/1.jpg" class="img-fluid" />
              </div>
              <div class="col-4 ">
                  <img src="/images/2.jpg" class="img-fluid"/>
              </div>
              <div class="col-4 ">
                  <img src="/images/3.jpg" class="img-fluid "/>
              </div>
              <div class="col-4 ">
                  <img src="/images/4.jpg" class="img-fluid"/>
              </div>
              <div class="col-4 ">
                  <img src="/images/5.jpg" class="img-fluid" />
              </div>
              <div class="col-4 ">
                  <img src="/images/6.jpg" class="img-fluid" />
              </div>
          </div>
      
      </div>

  </div>
  <div>
  <hr class="hr hr-blurry" />
      <p class=" text-center mb-md-5  display-4 text-white">
          Boka din tid hos oss 
      </p><br />

  </div>
</div>




