@page "/Kalender"
<h3 class="text-center text-light">Priser</h3>

<style>
    table.GeneratedTable {
        width: 100%;
        background-color: #000000;
        border-collapse: collapse;
        border-width: 2px;
        border-color: #000000;
        border-style: solid;
        color: #FFFFFF;
    }

        table.GeneratedTable td, table.GeneratedTable th {
            border-width: 2px;
            border-color: #ffff;
            border-style: solid;
            padding: 3px;
        }

        table.GeneratedTable thead {
            background-color: #000;
        }
</style>

<body>
<table class="GeneratedTable">
    <thead>
        <tr>
            <th>Klippning</th>
            <th>Tid</th>
            <th>Pris</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Skin fade</td>
            <td>35 min</td>
            <td>180 Kr</td>
        </tr>
        <tr>
            <td>Hårklippning</td>
            <td>20 min</td>
            <td>180 kr</td>
        </tr>
        <tr>
            <td>Skägg & fade</td>
            <td>35 min</td>
            <td>300 kr</td>
        </tr>
        <tr>
            <td>Skägg</td>
            <td>15 min</td>
            <td>180 kr</td>
        </tr>
        <tr>
            <td>Barn klippning</td>
            <td>15 min</td>
            <td>150 kr</td>
        </tr>
        <tr>
            <td>Vaxa & tråda</td>
            <td>20 min</td>
            <td>200 kr</td>
        </tr>
    </tbody>
</table>
</body>


@code {

}
